version: '3'

services:
  mongo:    
    image: mongo:6
    container_name: eproject-phase-1-mongo-1
    ports:
      - "37017:27017"
    networks:
      - app-network
      
  auth:
    build: ./auth
    env_file:
      - ./auth/.env
    networks:
      - app-network

  product:
    build: ./product
    env_file:
      - ./product/.env
    depends_on:
      - rabbitmq
    networks:
      - app-network

  order:
    build: ./order
    env_file:
      - ./order/.env
    depends_on:
      - rabbitmq
    networks:
      - app-network

  api-gateway:
    build: ./api-gateway
    ports:
      - "3003:3003"
    depends_on:
      - auth
      - product
      - order
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"  
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app-network

networks:
  app-network:
    driver: bridge